{% extends "base/base.html" %}

{% block css %}{% endblock %}
{% block activity1 %}class='layui-this'{% endblock %}>

{% block content %}
<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="110">
        <col width="450">
        <col>
  </colgroup>
  <thead>
    <tr>
        <th >编号</th>
        <th >项目名称</th>
        <th >完成状态</th>
        <th >负责人</th>
        <th >项目时间</th>
        <th >项目简介</th>
        <th >备注</th>
    </tr>
  </thead>
  <tbody>
    {% for project in all_proj %}
        <tr>
            <td>{{ project.id }}</td>
            <td><a href="">{{ project.pro_name }}</a></td>
            {% if  project.status == 4 %}
                <td>完成</td>
            {% elif  project.status == 1 %}
                <td>初期</td>
            {% elif  project.status == 2 %}
                <td>中期</td>
            {% elif  project.status == 3 %}
                <td>后期</td>
            {% endif %}
            <td>{{ project.team_leader }}</td>
            <td>{{ project.time.add_time|date:"Y-m-d"}}</td>
            <td>{{ project.summary }}</td>
            <td>{{ project.content.comments }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}





