{% extends "base/base.html" %}

{% block css %}{% endblock %}
{% block activity2 %}class='layui-this'{% endblock %}>

{% block content %}
<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="110">
        <col width="450">
        <col>
  </colgroup>
  <thead>
    <tr>
        <th >编号</th>
        <th >项目名称</th>
        <th >完成状态</th>
        <th >负责人</th>
        <th >项目时间</th>
        <th >项目简介</th>
        <th >备注</th>
    </tr>
  </thead>
  <tbody>
    {% for finish_proj in finish_projs %}

        <tr>
            <td>{{ finish_proj.id }}</td>
            <td>{{ finish_proj.pro_name }}</td>
            {% if  finish_proj.status == 4 %}
                <td>完成</td>
            {% endif %}
            <td>{{ finish_proj.team_leader }}</td>
            <td>{{ finish_proj.time.add_time|date:"Y-m-d"}}</td>
            <td>{{ finish_proj.summary }}</td>
            <td>{{ finish_proj.content.comments }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}





