{% extends "base/base.html" %}

{% block css %}{% endblock %}
{% block activity3 %}class='layui-this'{% endblock %}>

{% block content %}
    <table id="demo"></table>
{% endblock %}
{% block js %}
<script>
layui.use('table', function(){
    var table = layui.table;
    // 设置表结构
    table.render({
        elem: '#demo'
        ,height: 500
        ,url: '#' //数据接口
        ,page: true //开启分页
        ,cols: [[ //表头
        {field: 'id', title: '编号', width:80, sort: true, fixed: 'left'},
        {field: 'username', title: '负责人', width:80},
        {field: 'status', title: '完成状态', width:90},
        {field: 'content', title: '内容', width:700},
        {field: 'remark', title: '备注', width:250},
    ]]
  });
});
</script>
{% endblock %}




