{% extends "base/base.html" %}

{% block css %}
<link rel="stylesheet" href="/statics/bootstrap/css/bootstrap.css">
{% endblock %}
{% block activity5 %}class='layui-this'{% endblock %}>

{% block content %}
<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="110">
        <col width="450">
        <col>
  </colgroup>
  <thead>
    <tr>
        <th >编号</th>
        <th >项目名称</th>
        <th >完成状态</th>
        <th >负责人</th>
        <th >项目时间</th>
        <th >项目简介</th>
        <th >备注</th>
    </tr>
  </thead>
  <tbody>
    {% for proj in projects %}
        <tr>
            <td>{{ proj.id }}</td>
            <td>{{ proj.pro_name }}</td>
            {% if  proj.status == 3 %}
                <td>后期</td>
            {% endif %}
            <td>{{ proj.team_leader }}</td>
            <td>{{ proj.time.add_time|date:"Y-m-d"}}</td>
            <td>{{ proj.summary }}</td>
            <td>{{ proj.content.comments }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
      <li>{{ obj.page_str|safe }}</li>
  </ul>
</nav>
{% endblock %}





