{% extends "base/base.html" %}

{% block css %}{% endblock %}
{% block activity4 %}class='layui-this'{% endblock %}>

{% block content %}
<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="110">
        <col width="450">
        <col>
  </colgroup>
  <thead>
    <tr>
        <th >编号</th>
        <th >项目名称</th>
        <th >完成状态</th>
        <th >负责人</th>
        <th >项目时间</th>
        <th >项目简介</th>
        <th >备注</th>
    </tr>
  </thead>
  <tbody>
    {% for medium_proj in medium_projs %}
        <tr>
            <td>{{ medium_proj.id }}</td>
            <td>{{ medium_proj.pro_name }}</td>
            {% if  medium_proj.status == 2 %}
                <td>中期</td>
            {% endif %}
            <td>{{ medium_proj.team_leader }}</td>
            <td>{{ medium_proj.time.add_time|date:"Y-m-d"}}</td>
            <td>{{ medium_proj.summary }}</td>
            <td>{{ medium_proj.content.comments }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}





